[submodule ".registry"]
	path = .registry
	url = https://github.com/r-xla/r-xla.r-universe.dev
	branch = HEAD
[submodule "anvl"]
	path = anvl
	url = https://github.com/r-xla/anvl
	branch = v0.3.0
[submodule "pjrt"]
	path = pjrt
	url = https://github.com/r-xla/pjrt
	branch = v0.4.0
[submodule "stablehlo"]
	path = stablehlo
	url = https://github.com/r-xla/stablehlo
	branch = v0.3.0
[submodule "tengen"]
	path = tengen
	url = https://github.com/r-xla/tengen
	branch = v0.3.0
[submodule "xlamisc"]
	path = xlamisc
	url = https://github.com/r-xla/xlamisc
	branch = v0.4.0
